.dummyClass{color:black;}
.section-box{
		border:1px solid #C6C6C6;
		border-radius:4px;
		padding:15px;
}

.section-box .slds-box{
		background: #ededed;
    padding: 18px 20px 0;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #dadada;
}

.section-box .slds-form-element{
		position:absolute;
		top:0;
		left:2px;
}

.section-box p{
		color:#000000;
		font-weight:bold;
		display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		word-break: break-all;
}