.actionBody {
    font-family: var(--lwc-fontFamily,'Salesforce Sans', Arial, sans-serif);
    
   
    
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}
.button-container {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: var(--lwc-spacingMedium,1rem) 0;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
/* .inlineTitle{
    text-align: center;
    border-bottom: 1px solid var(--lwc-colorBorder,rgb(221, 219, 218));
} */
.inlineFooter{
    border-top:var(--lwc-borderWidthThick,2px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    max-width: inherit;
    min-width: inherit;
    width:inherit;
    box-sizing: border-box;
    
}

