.test{
    align-content: center;
}
.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.THIS .slds-modal__content{
    overflow: initial;
}
/* .center{
    text-align: center;
}
.pushRight{
    margin-left: 18px;
    } */