.THIS .CopyLinkInput {
    width: 70%; 
    display: inline-block;
}
.THIS .CopyLinkInput label{
    float: left;
}
.THIS .EmailInputsWrap {
    text-align: left;
    width: 90%;
    font-size: 12px;
    display:inline-block;
}
.THIS .GroupFields{
    font-size :12px;
}
.THIS .EmailBtn{
    margin-top: 13px; 
    width: 25%;
}
.THIS .EmailContent textarea{
    height: 100px;
}
.THIS .CustomSldsBody{text-align:center;}